services:
  eventify.api:
    image: ${DOCKER_REGISTRY-}eventifyapi
    container_name: Eventify.Api
    build:
      context: .
      dockerfile: src/API/Eventify.Api/Dockerfile
    depends_on:
      eventify.redis:
        condition: service_started
      eventify.database:
        condition: service_started
    restart: always
    ports:
      - 5000:8080
      - 5001:8081
      
  eventify.identity:
    image: quay.io/keycloak/keycloak:26.3
    container_name: Eventify.Identity
    command: start-dev --import-realm
    environment:
      - KC_HEALTH_ENABLED=true
      - KC_BOOTSTRAP_ADMIN_USERNAME=sa
      - KC_BOOTSTRAP_ADMIN_PASSWORD=password
    volumes:
      - ./.files/identity:/opt/keycloak/data/import
      - ./.containers/identity:/opt/keycloak/data
    ports:
      - 18080:8080
     
  eventify.database:
    image: postgres:18
    container_name: Eventify.Database
    environment:
      - POSTGRES_DB=eventify
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./.containers/db:/data/postgres
    restart: always
    ports:
      - 5432:5432

  eventify.pgadmin:
    image: dpage/pgadmin4
    container_name: Eventify.PgAdmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=user@domain.com
      - PGADMIN_DEFAULT_PASSWORD=Superman
    ports:
      - 5050:80

  eventify.seq:
    image: datalust/seq:2025.2
    container_name: Eventify.Seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - 5341:80
  
  eventify.jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: Eventify.Jaeger
    ports:
      - 4317:4317
      - 4318:4318
      - 16686:16686

  eventify.redis:
    image: redis:latest
    container_name: Eventify.Redis
    restart: always
    ports:
      - 6379:6379
